.header__title{
    text-align: center;
    justify-content: center;
}

.slider__title{
    text-align: left;
    justify-content: left;
}

.img{
    margin-left: 25px;
    padding-left: 2px;
    padding-right: 2px;
}

.coding__div{
    margin: 20px;
}

.project__block{
    margin: 2px;
    padding: 3px;
}

.work__block{
    padding: 3px;
    margin: 2px;
}
